################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/FreezerApp/.vs/FreezerApp.slnx
/FreezerApp/FreezerApp/obj/Debug/net10.0
/FreezerApp/FreezerApiTests/obj/Debug/net10.0
